.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}
.card-image {
    width: 100px;
}

.leftcol {
   overflow:hidden;
}

.rightcol {
   overflow-y: scroll;
   height: 81vh;
}
.filter {
    width: 500px !important
}
.align-items-center {
   display: flex;
   align-items: center;
}

.broker-image {
    width: 60px;
}

.listing-title {
    cursor: pointer;
}

.modal-90w {
    max-width: 90% !important;
}

.edit-button {
   font-size: 80%;
   cursor: pointer;
}

.toolbar-form {
    width: 100%;
}
.image-gallery-content:not(.fullscreen) .image-gallery-image {
  width: 100%;
  height: 300px;
  padding-top: 0; /* Make the image wrapping div take a ratio of 3:4 */
  padding-bottom: 20px;
  position: relative;
  img {
    position: absolute;
    top: 0;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
  }
}

.image-gallery-play-button {
  padding: 0;
}

.edit-image{
  height: 60px;
  width: auto;
}

.closeButton {
    min-width: 36px;
}

.expandButton {
    min-width: 36px;
}

.error {
    border: 2px solid #FF6565;
}
