.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}
.card-image {
    width: 100px;
}

.leftcol {
   overflow:hidden;
}

.rightcol {
   overflow-y: scroll;
   height: 81vh;
}
.filter {
    width: 500px !important
}
.align-items-center {
   display: flex;
   align-items: center;
}

.broker-image {
    width: 60px;
}

.modal-90w {
    max-width: 90% !important;
}
.modal-80w {
    max-width: 80% !important;
}

.edit-button {
   font-size: 60%;
   cursor: pointer;
}

.toolbar-form {
    width: 100%;
}
.image-gallery-content:not(.fullscreen) .image-gallery-image {
  width: 100%;
  height: 300px;
  padding-top: 0; /* Make the image wrapping div take a ratio of 3:4 */
  padding-bottom: 20px;
  position: relative;
  img {
    position: absolute;
    top: 0;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
  }
}

.image-gallery-play-button {
  padding: 0;
}

.edit-image{
  height: 80px;
  width: 100px;
}

.closeButton {
    min-width: 36px;
}

.expandButton {
    min-width: 36px;
}

.error {
    border: 2px solid #FF6565;
}

/* ENTER TRANSITION */
/* Declare transition start properties*/
.slide-enter {
    transform: translateX(-100vw);
    opacity: 0;
    position: absolute;
    
}

/* Declare transition properties */
.slide-enter.slide-enter-active {
    transform: translateX(0);
    opacity: 1;
    transition: all 300ms linear 300ms;
}

/* EXIT TRANSITION */
.slide-exit {
    transform: translateX(0);
    opacity: 1;
}

.slide-exit.slide-exit-active {
    transform: translateX(100vw);
    opacity: 0;
    transition: all 300ms linear; 
}

#stickyHeader{
    position: sticky;
    top: 0;
    z-index: 998;
}
.autocomplete-dropdown-container{
    position:absolute;
    width: 100%;
    z-index:9;
    background: #fff;
    box-shadow: 0px 3px 8px #aaaaaa;
}

/* Workaround for map zoom icon */
.gm-control-active{min-width: 44px}

/* Close icon for image */
.img-wrap {
    position: relative;
    display: inline-block;
    height: 80px;
}

.img-wrap .close {
    position: absolute;
    top: -5px;
    right: 2px;
    z-index: 100;
    color: red;
}
.img-wrap .primary {
    position: absolute;
    left: 2px;
    right: 2px;
    z-index: 100;
}
.img-drag {
    height: 80px;
}

.listing-footer {
    font-size: 0.8rem;
}

.green-background {
    background-color: rgb(40, 167, 69, 0.25);
}
.gray-background {
    background-color: rgb(108, 117, 125, 0.25);
}
.red-background {
    background-color: rgb(220, 53, 69, 0.25);
}
.addPointer {
    cursor: pointer;
}
.smallFont {
    font-size: 80%;
}
.autocomplete-dropdown-container{
    z-index: 999;
}

.list-image{
    width: auto;
    height: 100px;
}
.preLine {
    white-space: pre-line;
}
.address-title {
    font-size: 110%;
}

.image-container {
    max-width: 50%;
}
