.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}
.card-image {
    width: 100px;
}

.leftcol {
   overflow:hidden;
}

.rightcol {
   overflow-y: scroll;
   height: 83vh;
}
.filter {
    width: 500px !important
}
.align-items-center {
   display: flex;
   align-items: center;
}

.broker-image {
    width: 60px;
}
