.Dropzone {
  display: inline-block;
  border: 2px dashed rgb(187, 186, 186);
  height: 80px;
  text-align: center;
}
.FileInput {
  display: none;
}

.upload-images {
  padding-right: 0.5em;
  padding-left: 0.5em;
}
