.bimage{
  background: url("https://sabre-images.s3.amazonaws.com/office.jpg");
}
.jtron{
    opacity: 0.9;
    margin-left: 15%;
    margin-right: 15%
}
.app {
    overflow-x: hidden;
    overflow-y: hidden;
}

.profile {
    overflow-y: scroll;
}
