.bimage{
  background: url("https://sabre-images.s3.amazonaws.com/office.jpg");
}
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
.mycontainer{
    flex: auto;
}

.profile-view {
    overflow-y: auto;
    overflow-x: hidden;
    height: 78vh;
}

.rem75 {
    font-size: 0.75rem;
}
.rem80 {
    font-size: 0.80rem;
}
